<div class="control-section" style="height: 100%;">
    <div class="e-full-layout" style="height: 100%;">
        <!-- LayoutHeader -->
        <div id="LayoutHeader" class="e-Header">
            <div class="e-HeaderToolbar" id="headerTool">
                <div id="element"></div>
            </div>
        </div>
        <!-- ContentSection -->
        <div id="LayoutContent" class="e-mainLayout-content">
            <div id="defaultSidebar" class="e-sidebar-content">
                <div class="e-card e-side-card">
                    <div class="e-card-header">
                        <div id="User-Img" class="e-user-img e-avatar e-avatar-circle"> </div>
                        <div class="e-card-header-caption e-user-name">
                            <div class="e-card-header-title"> Angellina</div>
                            <div class="e-card-sub-title"><a href="">Change Picture</a></div>
                        </div>
                    </div>
                </div>
                <!-- new folder button for resolution > 600px -->
                <div id="LeftButtonContainer" class="e-left-button-contain">
                    <button id="btnElement"></button>
                </div>
                <!-- sidebar options -->
                <div id="LeftTreeContainer" class="e-left-tree-contain">
                    <div id="treeElement"></div>
                    <div class="e-storage-container" title="Storage status">
                        <div class="e-storage-header">
                            <div class="e-storage-icon sf-icon-Storage" style="display: inline-block;"></div>
                            <div class="e-storage-title" style="display: inline-block; margin-left: 7px;">Storage
                            </div>
                        </div>
                        <div class="e-storage-content">
                            <div class="e-storage-progress progress">
                                <div class="progress-bar">
                                </div>
                            </div>
                            <div class="e-storage-value">70% storage used</div>
                        </div>
                    </div>
                </div>
                <div class="e-card e-side-card e-side-bottom-card">
                    <div class="e-card-content"><a class="e-empty-link" href="">My Profile</a></div>
                    <div class="e-card-content"><a class="e-empty-link" href="">Settings</a></div>
                    <div class="e-card-content"><a class="e-empty-link" href="">Sign Out</a></div>
                </div>
            </div>
            <div id="RightLayout" class="e-right-layout" style="height: 100%;">
                <div id="filemanager" class="file-container"></div>
                <div id="file-overlay" class="e-file-overlay e-file-hide-overlay"></div>
            </div>
        </div>
    </div>
    <!-- popup containing user options like profile, sign out/in -->
    <div id="user-Popup" class="e-notch e-icons e-user-Popup e-hide-popup ">
        <div id="user-label" class="e-card e-hide-popup">
            <div class="e-card-header">
                <div id="User-Img" class="e-user-img e-avatar e-avatar-circle"> </div>
                <div class="e-card-header-caption e-user-name">
                    <div class="e-card-header-title"> Angellina</div>
                    <div class="e-card-sub-title"><a href="">Change Picture</a></div>
                </div>
            </div>
            <div class="e-card-content">
                <div class="e-storage-progress progress">
                    <div class="progress-bar">
                    </div>
                </div>
                <div class="e-storage-value">70% storage used</div>
            </div>
            <div class="e-card-content">My Profile</div>
            <div class="e-card-content">Settings</div>
            <div class="e-card-content">Sign Out</div>
        </div>
    </div>
    <div id="dialogElement"></div>
</div>